body{
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  margin: 0;
}

.Data-table{
  max-height: 100px;
}

.fetch{
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.fetch button{
  padding: 10px 25px;
  font-size: 14px;
  border: none;
  background-color: #009879;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

input{
  box-sizing: border-box;
  padding: 5px 5px 5px 10px;
  font-size: 14px;
  border: none;
  background: #ffffff;
  border-radius: 50px;
  margin: 5px;
  max-width: 150px;
  color: #009879;
}

input:focus{
  outline: none;
}

.app-bar{
  background: rgb(255, 255, 255);
  padding: 5px;
}

table{
  border-collapse: collapse;
  cursor: pointer;
  font-weight: 400;
  text-transform: capitalize;
  border: 1px solid #00987a77 ;
  margin: 10px;
}

th,td{
  padding: 15px;
  border-bottom: 1px solid rgb(164, 164, 164);
}

tr:hover{
  background: rgb(240, 240, 240);
  color: #009879;
  box-shadow: 1px 1px 5px rgb(168, 168, 168);
}

th{
  background: #009879;
  color: aliceblue;
}