body{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.App{
  max-width: 700px;
  margin: auto;
  max-height: 500px;
}

table{
  border: 1px solid grey;
  border-collapse: collapse;
  max-height: 500px ;
}

th,td{
  padding: 10px;
  border: 1px solid grey;
}

th{
  background: rgb(203, 203, 203);
}